@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #18181b;
    --color-primary-alt: #1c1917;
    --color-secondary: #a1a1aa;
    --color-secondary-alt: #d4d4d8;
  }

  .theme-arboretum {
    --color-primary: #f0f9ff;
    --color-primary-alt: #bae6fd;
    --color-secondary: #362871;
    --color-secondary-alt: #c6c0db;
  }

  .theme-cascadia {
    --color-primary: #0091d3;
    --color-primary-alt: #5cb0e4;
    --color-secondary: #2d363f;
    --color-secondary-alt: #bbaeb1;
  }

  .theme-great-western-trail {
    --color-primary: #dbc59b;
    --color-primary-alt: #b4a07b;
    --color-secondary: #0e2739;
    --color-secondary-alt: #a3a194;
  }

  .theme-feast-for-odin {
    --color-primary: #6583a8;
    --color-primary-alt: #4a6c96;
    --color-secondary: #060a0f;
    --color-secondary-alt: #293542;
  }

  .theme-lost-ruins-of-arnak {
    --color-primary: #331c15;
    --color-primary-alt: #57311f;
    --color-secondary: #b69b55;
    --color-secondary-alt: #E6DDD1;
  }
}
